* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	/*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 62.5%;
}

:root {
	--very-light-gray:#C7C7C7;
	--text-input-field: #F7F7F7;
	--hospital-green: #ACD982;
	--very-light-blue:#bad7f1;
	--dark-blue: #252C5A;
	--white: #FFFFFF;
	--black: #000000;
	--ss: 1.2rem;
	--sm: 1.4rem;
	--md: 1.5rem;
	--lg: 1.8rem;
}

.calculos {
	margin: 0 auto;
	width: 97%;
	min-width: 31rem;
	max-width: 50rem;
}

table, th, td, tr {
	border: 0.1rem solid black;
	border-collapse: collapse;
}

input, span {
	font-size: var(--md);
}

p, h2, section, div {
	margin-top: 1rem;
}

h1 {
  width: 100%;
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--md);
}

h2 {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: var(--sm);
}

label, p {
	font-size: var(--ss);
}

button {
	cursor: pointer;
}